<link rel="stylesheet" href="{{ asset('build/css/navbar.css') }}">
<nav>
    <a href="{{ url('app_acceuilnew') }}">
        <div class="title-field">
            <img src="{{ asset('build/Images/oxo.png') }}" alt="Logo du site"/>
            <h1>OXO</h1>
        </div>
    </a>
    <div id="burger">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div id="navigation">
        {% if app.user %}
        <a href="{{ url('app_acceuilnew') }}">Acceuil</a>
        <a href="{{ url('app_formnew') }}">Déposer candidature</a>


        <a href="{{ url('app_contact') }}">Contactez-nous</a>

        <a href="{{ url('app_actus') }}">Actus de l'école</a>

        <a href="{{ url('app_formations') }}">Formations</a>
        <a href="{{ url('app_on_parle_de_nous') }}">On parle de nous</a>

        <a href="{{ url('app_pedagogie') }}">Pédagogie</a>
            <a href="{{ url('app_presentation') }}">Présentation</a>
            <a href="{{ url('app_staff') }}">Notre équipe</a>
            <a href="{{ url('app_tarifs_matetriel') }}">Tarifs</a>

        {% endif %}
    </div>
</nav>
